<!-- templates/layout.html -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% load static %}

  <!-- favicon.ico -->
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  <!-- Materializecss -->
  <link rel='stylesheet' href="{% static "materialize/css/materialize.min.css" %}">
  <script src="{% static "materialize/js/materialize.min.js"%}"></script>

  {% block head %}
  {% endblock %}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>

  <title>{% block title %} Django Title Name {% endblock %}</title>
</head>

<body>
  <header>
    <!-- navbar -->
    <div class="navbar-fixed">
      <nav>
        <div class="container">
          <div class="nav-wrapper">
            <a href="{% url 'friendscal:index' %}" class="brand-logo">Friendscal</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% if user.is_authenticated %}
              <li><a href="{% url 'friendscal:index' %}">Kalender</a></li>
              <li><a href="{% url 'friendscal:appointment-list' %}">Deine Termine</a></li>
              <li><a href="{% url 'users:shares-detail' %}">Freigaben</a></li>
              <li><a href="{% url 'users:user-detail' %}"><img src="{{ user.avatar.url }}" width="30" class="circle"> Hi {{ user.first_name }}!</a></li>
              <li><a href="{% url 'logout' %}"><i class="material-icons right">exit_to_app</i></a></li>
              {% else %}
              <li><a href="{% url 'friendscal:description' %}">Was ist das?</a></li>
              <li><a href="{% url 'login' %}">Anmelden</a></li>
              <li><a href="{% url 'users:user-signup' %}">Registrieren</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
    {% if user.is_authenticated %}
      <li>
        <div class="user-view">
          <div class="background green accent-4">
          </div>
          <a href="{% url 'users:user-detail' %}"><img class="circle" src="{{ user.avatar.url }}"></a>
          <a href="{% url 'users:user-detail' %}"><span class="black-text name">{{ user.get_full_name }}</span></a>
        </div>
      </li>
      <li><a href="{% url 'friendscal:index' %}">Kalender</a></li>
      <li><a href="{% url 'friendscal:appointment-list' %}">Deine Termine</a></li>
      <li><a href="{% url 'users:shares-detail' %}">Freigaben</a></li>
      <li><div class="divider"></div></li>
      <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Abmelden</a></li>
    {% else %}
      <li><a href="{% url 'friendscal:description' %}">Was ist das?</li>
      <li><a href="{% url 'login' %}">Anmelden</a></li>
      <li><a href="{% url 'users:user-signup' %}">Registrieren</a></li>
    {% endif %}
    </ul>
  </header>

  <!-- content -->
  <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12 center-align">
          © 2019 Copyright Maximilian Lutz ·
          <a href="{% url 'friendscal:impressum' %}" class="white-text">Impressum</a>
           · 
          <a href="{% url 'friendscal:privacy' %}" class="white-text">Datenschutzerklärung</a>
        </div>
        <div class="col l6 s12 center-align">
          Webseite im Alphatest
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
