<!-- templates/registration/login.html -->

{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
  <div class="col s6">
    <h2>Einloggen</h2>
    
  </div>
  <div class="col s6">
    <h2>Noch nicht registriert?</h2>
    
  </div>
</div>
<div class="row">
  <div class="col s6">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="center-align">
        <button class="btn blue lighten-2" type="submit">Einloggen<i class="material-icons right">send</i></button>
        <a class="btn blue lighten-2" href="{% url 'password_reset' %}">Passwort vergessen?</a>
      </div>
    </form>
  </div>
  <div class="col s6">
    <div class="center-align">
      <a class="btn blue lighten-2" href="{% url 'users:user-signup' %}">Registrieren</a>
    </div>
  </div>
</div>

{% endblock %}