<!-- templates/registration/password_reset_confirm.html -->
{% extends 'layout.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h1>Set a new password!</h1>
        <form method="POST">
            <div class="row">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {% include "field_snippet.html" with field=field size="s12" %}
                {% endfor %}
                <div class="col s12">
                    <input type="submit" value="Change my password">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}