<!-- templates/registration/password_reset_form.html -->

{% extends 'layout.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h1>Passwort vergessen?</h1>
        <p class="flow-text">Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="POST">
            <div class="row">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {% include "field_snippet.html" with field=field size="s12" %}
                {% endfor %}
                <div class="col s12">
                    <input class="btn blue lighten-2" type="submit" value="Send me instructions!">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}