<!-- templates/registration/password_reset_done.html -->

{% extends 'layout.html' %}
{% comment %} Bestätigung des Rücksetzprozesses {% endcomment %}

{% block title %}E-Mail gesendet{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h1>Prüfe deinen Posteingang.</h1>
        <p class="flow-text">Wir haben Ihnen einen Link zum Zurücksetzen des Passwortes gesendet. Sie sollten in Kürze eine E-Mail erhalten!</p>

        <a class="btn" href="{% url 'login' %}">Zurück</a>
    </div>
</div>

{% endblock %}