<!-- templates/users/detail.html -->

{% extends 'layout.html' %}

{% block title %}Detail{% endblock %}

{% block content %}
<h3>Detail</h3>
{% csrf_token %}
<table>
    <tr>
        <td>
            <label>Profilbild</label>
            <br>
            <img src="{{ object.avatar.url }}" width=160>
        </td>
        <td>
            <a href="{% url 'user-change' %}"><i class="material-icons right">edit</i></a>
        </td>
    </tr>
    <tr>
        <td>
            <label>Vorname</label>
            <p class="flow-text">{{ object.first_name }}</p>
        </td>
        <td>
            <a href="{% url 'user-change' %}"><i class="material-icons right">edit</i></a>
        </td>
    </tr>
    <tr>
        <td>
            <label>Nachname</label>
            <p class="flow-text">{{ object.last_name }}</p>
        </td>
        <td>
            <a href="{% url 'user-change' %}"><i class="material-icons right">edit</i></a>
        </td>
    </tr>
    <tr>
        <td>
            <label>E-Mail Adresse</label>
            <p class="flow-text">{{ object.email }}</p>
        </td>
        <td>
            <a href="{% url 'user-change' %}"><i class="material-icons right">edit</i></a>
        </td>
    </tr>
    <tr>
        <td>
            <label>Passwort</label>
            <p><a class="btn blue lighten-2" href="{% url 'change_password' %}">Passwort ändern</a></p>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn red" href="{% url 'user-delete' %}">Meinen Account löschen</a>
        </td>
    </tr>
</table>

{% endblock %}