<!-- templates/users/sahres_update.html -->

{% extends 'layout.html' %}

{% block head %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);

        active = document.getElementsByTagName('li');
        active[2].className = "active";

        errors = document.getElementsByClassName("errorlist");
        if (errors.length > 0) {
            Object.values(errors).every(function(error){error.classList.add("red-text");});
        };
    });
</script>
{% endblock %}

{% block title %}Freigaben aktualisieren{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h3>Freigaben aktualisieren</h3>
            <form action="{% url 'users:shares-change' %}" method="post">
                <div class="row">
                    <div class="col s12">
                        <p class="flow-text">Erteile Nutzern eine Freigabe, wenn du Ihnen erlauben möchtest deinen Kalender einzusehen.</p>
                    </div>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="input-field col s12">
                        <label for="{{ form.shares.id_for_label }}" class="active">{{ form.shares.label }}:</label>
                        {{ form.shares }}
                        <span class="helper-text">{{ form.shares.help_text }}</span>
                        {{ form.shares.errors }}
                    </div>
                    <div class="col s12 center-align">
                        <button class="btn" type="submit">Aktualisieren</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}