<!-- templates/users/user_detail.html -->

{% extends 'layout.html' %}

{% block head %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);

        active = document.getElementsByTagName('li');
        active[3].className = "active";
    });
</script>
{% endblock %}

{% block title %}Nutzer{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h3>Nutzer</h3>
    </div>
    <div class="col s11">
        <label>Profilbild:</label>
        <p>
            <img src="{{ object.avatar.url }}" width=100>
        </p>
    </div>
    <div class="col s1">
        <div class="center-align">
            <a href="{% url 'users:user-change' %}"><i class="material-icons small right">edit</i></a>
        </div>
    </div>
    <div class="col s11">
        <label>Nutzername:</label>
        <p class="flow-text">{{ object.username }}</p>
    </div>
    <div class="col s1">
        <div class="center-align">
            <a href="{% url 'users:user-change' %}"><i class="material-icons small right">edit</i></a>
        </div>
    </div>
    <div class="col s6">
        <label>Vorname:</label>
        <p class="flow-text">{{ object.first_name }}</p>
    </div>
    <div class="col s5">
        <label>Nachname:</label>
        <p class="flow-text">{{ object.last_name }}</p>
    </div>
    <div class="col s1">
        <div class="center-align">
            <a href="{% url 'users:user-change' %}"><i class="material-icons small right">edit</i></a>
        </div>
    </div>
    <div class="col s11">
        <label>E-Mail Adresse:</label>
        <p class="flow-text">{{ object.email }}</p>
    </div>
    <div class="col s1">
        <a href="{% url 'users:user-change' %}"><i class="material-icons small right">edit</i></a>
    </div>
    <div class="col s6">
        <label>Passwort:</label>
        <p><a class="btn" href="{% url 'users:user-password_change' %}">Passwort ändern</a></p>
    </div>
    <div class="col s6">
        <label>Account löschen:</label>
        <!-- Modal Trigger -->
        <p><a class="btn red modal-trigger" href="#modal-delete">Meinen Account löschen</a></p>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal-delete" class="modal">
    <form action="{% url 'users:user-delete' %}" method="post">
        <div class="modal-content">
            <h4>Account löschen</h4>
            <p>Wollen Sie ihren Account wirklich löschen?</p>
            {% csrf_token %}
        </div>
        <div class="modal-footer">
            <a class="btn-flat modal-close" href="#!">Abbrechen</a>
            <button class="btn-flat red waves-effect waves-light" type="submit">Löschen</button>
        </div>
    </form>
</div>

{% endblock %}