<!-- templates/users/user_delete.html -->

{% extends 'layout.html' %}

{% block title %}Account löschen{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h2>Account löschen</h2>

        <p class="flow-text">Wollen Sie ihren Account wirklich löschen?</p>

        <form action="{% url 'users:user-delete' %}" method="post">
            <div class="row">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                {% endfor %}
                <div class="col s12">
                    <a class="btn blue lighten-2" href="{% url 'users:user-detail' %}">Zurück</a>
                    <button class="btn red waves-effect waves-light" type="submit">Löschen</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}