<!-- templates/users/user_password_update.html -->

{% extends 'layout.html' %}
{% comment %} Ändern des Passwortes. {% endcomment %}

{% block head %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% comment %} Fehler Meldungen rot markieren {% endcomment %}
        errors = document.getElementsByClassName("errorlist");
        if (errors.length > 0) {
            Object.values(errors).every(function(error){error.classList.add("red-text");});
        };
    });
</script>
{% endblock %}

{% block title %}Passwort ändern{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h2>Passwort ändern</h2>
        {% comment %} Formular zum Ändern des Passwortes. {% endcomment %}
        <form action="{% url 'users:user-password_change' %}" method="post">
            {% csrf_token %}
            <div class="row">
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {% include "field_snippet.html" with field=field size="s12" %}
                {% endfor %}
                <div class="col s12 center-align">
                    <button type="submit" class="btn">Änderungen sichern</button>
                </div>
        </form>
    </div>
</div>
{% endblock %}