<!-- templates/users/user_update.html -->

{% extends 'layout.html' %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
{% endblock %}

{% block title %}Update{% endblock %}

{% block content %}
    <h2>Update</h2>
    <form action="{% url 'users:user-change' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field.label == 'Profile picture' %}
                <div class="row">
                    <div class="file-field input-field col s12">
                        <p>
                            {{ field.errors }}
                            {{ field.label_tag }}
                            <br>
                            <img src="{{ object.avatar.url }}" width=100>
                        </p>
                        <div class="btn blue lighten-2">
                            <span>Datei auswählen</span>
                            <input id="id_avatar" type="file" accept="image/*" name="avatar">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            {% elif field.label == 'Share' %}
                <div class="row">
                    <div class="col s12">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                </div>
            {% elif field.label == 'First name' %}
                <div class="row">
                    <div class="input-field col s6">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
            {% elif field.label == 'Last name' %}
                    <div class="input-field col s6">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="center-align">
            <button class="btn blue lighten-2 center-align" type="submit">Update</button>
        </div>
    </form>
{% endblock %}