<!-- templates/friendscal/appointment_update.html -->

{% extends 'layout.html' %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, {format: 'yyyy-mm-dd', autoClose: true});
        });
    </script>
{% endblock %}

{% block title %}Update{% endblock %}

{% block content %}
    <h2>Update</h2>
    <form action="{% url 'friendscal:change' pk=object.uuid %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn blue lighten-2" type="submit">Update</button>
    </form>
{% endblock %}