<!-- templates/friendscal/appointment_create.html -->

{% extends 'layout.html' %}


{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, {format: 'dd.mm.yyyy', autoClose: true});
            var elems = document.querySelectorAll('.timepicker');
            var instances = M.Timepicker.init(elems, {twelveHour: false, autoClose: true, defaultTime: '00:00'});

            if (liste['start'] && liste['end']) {
                document.getElementById('id_start').value = liste['start'];
                document.getElementById('id_end').value = liste['end'];
            };

            var field = document.getElementById('id_description');
            field.className = "materialize-textarea";
        });

        function Werteliste (querystring) {
            if (querystring == '') return;
            var wertestring = querystring.slice(1);
            var paare = wertestring.split("&");
            var paar, name, wert;
            for (var i = 0; i < paare.length; i++) {
                paar = paare[i].split("=");
                name = paar[0];
                wert = paar[1];
                name = unescape(name).replace("+", " ");
                wert = unescape(wert).replace("+", " ");
                this[name] = wert;
            }
        }
        var liste = new Werteliste(location.search);
    </script>
{% endblock %}

{% block title %}Create Appointment{% endblock %}

{% block content %}
<h2>Create Appointment</h2>
<form action="{% url 'friendscal:appointment-create' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="center-align">
        <button class="btn blue lighten-2" type="submit">Create</button>
    </div>
</form>

<div class="row">
</div>
{% endblock %}