<!-- templates/friendscal/appointment_update.html -->

{% extends 'layout.html' %}

{% block head %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, {format: 'dd.mm.yyyy', autoClose: true, i18n: {
            "cancel": "Abbrechen",
            "done": "Fertig",
            "months": [
                "Januar",
                "Februar",
                "März",
                "April",
                "Mai",
                "Juni",
                "Juli",
                "August",
                "September",
                "Oktober",
                "November",
                "Dezember"
            ],
            "monthsShort": [
                "Jan",
                "Feb",
                "Mär",
                "Apr",
                "Mai",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Okt",
                "Nov",
                "Dez"
            ],
            "weekdays": [
                "Sonntag",
                "Montag",
                "Dienstag",
                "Mittwoch",
                "Donnerstag",
                "Freitag",
                "Samstag"
            ],
            "weekdaysShort": ["So", "Mo", "Di", "Mi", "Do", "Fr", "Sa"],
            "weekdaysAbbrev": ["S", "M", "D", "M", "D", "F", "S"]
            }});
        var elems = document.querySelectorAll('.timepicker');
        var instances = M.Timepicker.init(elems, {twelveHour: false, autoClose: true, defaultTime: '00:00'});

        var field = document.getElementById('id_description');
        field.className = "materialize-textarea";
    });
</script>
{% endblock %}

{% block title %}Termin aktualisieren{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h2>Termin aktualisieren</h2>
        <form action="{% url 'friendscal:appointment-change' pk=object.uuid %}" method="post">
            <div class="row">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {% include "field_snippet.html" with field=field size="s12" %}
            {% endfor %}
            <div class="col s12 center-align">
                <button class="btn" type="submit">Aktualisieren</button>
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}