<!-- templates/friendscal/appointment_detail.html -->

{% extends 'layout.html' %}

{% block head %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>
{% endblock %}

{% block title %}Detail{% endblock %}

{% block content %}
<h2>Detail</h2>

<table>
    <tr>
        <td>
            <label>Termin von:</label>
            <p class="flow-text">{{ object.user }}</p>
        </td>
        <td>
        </td>
        {% if object.user == user %}
        <td>
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>
            <label>Titel</label>
            <p class="flow-text">{{ object.title }}</p>
        </td>
        <td></td>
        {% if object.user == user %}
        <td>
            <a href="{% url 'friendscal:change' pk=object.uuid %}"><i class="material-icons right">edit</i></a>
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>
            <label>Anfang</label>
            <p class="flow-text">{{ object.start | date:"d.m.Y" }}</p>
        </td>
        <td>
            <label>Ende</label>
            <p class="flow-text">{{ object.end | date:"d.m.Y"}}</p>
        </td>
        {% if object.user == user %}
        <td>
            <a href="{% url 'friendscal:change' pk=object.uuid %}"><i class="material-icons right">edit</i></a>
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>
            <label>Beschreibung</label>
            <p class="flow-text">{{ object.description }}</p>
        </td>
        <td></td>
        {% if object.user == user %}
        <td>
            <a href="{% url 'friendscal:change' pk=object.uuid %}"><i class="material-icons right">edit</i></a>
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>
            <label>Ort</label>
            <p class="flow-text">{{ object.location }}</p>
        </td>
        <td></td>
        {% if object.user == user %}
        <td>
            <a href="{% url 'friendscal:change' pk=object.uuid %}"><i class="material-icons right">edit</i></a>
        </td>
        {% endif %}
    </tr>
    {% if object.user == user %}
    <tr>
        <td>
            <!-- Modal Trigger -->
            <a class="btn red modal-trigger" href="#modal1">Termin löschen</a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <form action="{% url 'friendscal:delete' pk=object.uuid %}" method="post">
                    <div class="modal-content">
                        <h4>Delete Appointment</h4>
                        <p>Wollen Sie den Termin wirklich löschen?</p>
                        {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <a class="btn-flat modal-close" href="#!">Zurück</a>
                        <button class="btn-flat red waves-effect waves-light" type="submit">Löschen</button>
                    </div>
                </form>

            </div>
        </td>
        <td></td>
    </tr>
    {% endif %}
</table>




{% endblock %}