<!-- templates/friendscal/appointment_detail.html -->

{% extends 'layout.html' %}

{% block head %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>
{% endblock %}

{% block title %}Detail{% endblock %}

{% block content %}
<h2>Detail</h2>

{% if object.user == user %}
    <div class="row">
        <div class="col s11">
            <label>Termin von</label>
            <p class="flow-text">{{ object.user }}</p>
        </div>
        <div class="col s1">
            <div class="center-align">
                <a href="{% url 'friendscal:appointment-change' pk=object.uuid %}"><i class="material-icons small right">edit</i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s11">
            <label>Titel</label>
            <p class="flow-text">{{ object.title }}</p>
        </div>
        <div class="col s1">
            <div class="center-align">
                <a href="{% url 'friendscal:appointment-change' pk=object.uuid %}"><i class="material-icons small right">edit</i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <label>Anfang</label>
            <p class="flow-text">{{ object.start | date:"d.m.Y" }}</p>
        </div>
        <div class="col s5">
            <label>Ende</label>
            <p class="flow-text">{{ object.end | date:"d.m.Y" }}</p>
        </div>
        <div class="col s1">
            <div class="center-align">
                <a href="{% url 'friendscal:appointment-change' pk=object.uuid %}"><i class="material-icons small right">edit</i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s11">
            <label>Beschreibung</label>
            <p class="flow-text">{{ object.description }}</p>
        </div>
        <div class="col s1">
            <div class="center-align">
                <a href="{% url 'friendscal:appointment-change' pk=object.uuid %}"><i class="material-icons small right">edit</i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s11">
            <label>Ort</label>
            <p class="flow-text">{{ object.location }}</p>
        </div>
        <div class="col s1">
            <div class="center-align">
                <a href="{% url 'friendscal:appointment-change' pk=object.uuid %}"><i class="material-icons small right">edit</i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label>Termin löschen</label>
            <!-- Modal Trigger -->
            <p><a class="btn red modal-trigger" href="#modal1">Termin löschen</a></p>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <form action="{% url 'friendscal:appointment-delete' pk=object.uuid %}" method="post">
                    <div class="modal-content">
                        <h4>Delete Appointment</h4>
                        <p>Wollen Sie den Termin wirklich löschen?</p>
                        {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <a class="btn-flat modal-close" href="#!">Zurück</a>
                        <button class="btn-flat red waves-effect waves-light" type="submit">Löschen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
<div class="row">
        <div class="col s12">
            <label>Termin von</label>
            <p class="flow-text">{{ object.user }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label>Titel</label>
            <p class="flow-text">{{ object.title }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <label>Anfang</label>
            <p class="flow-text">{{ object.start | date:"d.m.Y" }}</p>
        </div>
        <div class="col s6">
            <label>Ende</label>
            <p class="flow-text">{{ object.end | date:"d.m.Y" }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label>Beschreibung</label>
            <p class="flow-text">{{ object.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label>Ort</label>
            <p class="flow-text">{{ object.location }}</p>
        </div>
    </div>
{% endif %}

{% endblock %}