<!-- templates/friendscal/appointment_list.html -->

{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block title %}Detail{% endblock %}

{% block content %}
<h4>Deine Termine</h4>

<ul class="collection">
{% for appointment in object_list %}
    <li class="collection-item">
        <div>
            <a href="{% url 'friendscal:detail' pk=appointment.uuid %}" class="black-text">
                {{ appointment }}<div class="secondary-content black-text">{{ appointment.start | date:"d.m.Y"  }} - {{ appointment.end | date:"d.m.Y"  }}</div>
            </a>
        </div>        
    </li>
{% empty %}
    <li class="collection-item">No articles yet.</li>
{% endfor %}
</ul>

<div class="row">
    <div class="col s2 offset-s5">
        <a href="{% url 'friendscal:create' %}" class="btn blue lighten-2">Neuer Termin</a>
    </div>
</div>

{% endblock %}