<!-- templates/friendscal/index.html -->

{% extends 'layout.html' %}

{% block head %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% comment %} navbar Element aktiv setzen {% endcomment %}
        active = document.getElementsByTagName('li');
        active[0].className = "active";
    });
</script>
{% endblock %}

{% block title %}Beschreibung{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="section">
            <h4 class="header">Verlierst du auch langsam den Überblick, wann deine Freunde zuhause, in ihren Studienstädten oder sonst wo sind?</h4>
            <p class="flow-text">Dabei soll diese Webseite euch unterstützen. Sie bietet euch die Möglichkeit Termine in einen Kalendar einzutragen und diesen mit den gewünschten Personen zu teilen. Hierbei sind nicht Termine angedacht wie bspw. euer nächster Zahnarzttermin, sondern eher Zeiträume wie Semesterferien, Auslandssemester, Urlaub, Heimatbesuche oder Studium selbst. Umgekehrt kann man sich die geteilten Kalendar anzeigen lassen.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <p class="flow-text">Ich hoffe ich bin nicht der Einzige, der solch eine Plattform für nützlich empfindet und würde mich über entsprechenden Anklang natürlich freuen.
            <br>
            Leider handelt es sich jedoch bisher um eine reine Desktop Webanwendung. Für euch heißt das, dass sie vermutlich auf kleineren Geräten (Handy, Tablet) nicht benutzbar sein wird.
            </p>
        </div>
    </div>
</div>
{% endblock %}