<!-- templates/friendscal/index.html -->

{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block title %}Erklärung{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <p class="flow-text">
            <h3>Was hat es mit dieser Webseite auf sich?</h3>
            Ich behalte prinzipiell gerne den Überblick. So geht es vermutlich den meisten, außer vielleicht den ein oder anderen.
            <br>
            Auf jeden Fall fand ich es schwierig mir immer zu behalten wer gerade am Arbeiten, Studieren, im Urlaub ist oder was auch immer gerade macht. Ohne dieses Wissen ist es jedoch schwierig etwas zu planen bzw. mit diesem Wissen ist es vielleicht einfacher spontan mal jemand wieder zu treffen oder Ähnliches. Aufgrund dessen dachte ich mir, es wäre schön eine Gedächtnisstütze zu haben. Da die vorhanden Alternativen nicht ganz meinen Ansprüchen entsprachen und ich die Möglichkeit für eine Lernmöglichkeit gesehen habe, entschloss ich diese Webseite zu kreieren.
            <br>
            <br>
            Sie bietet die Möglichkeiten Termine einzutragen und nutzerspezifisch einzustellen, welchen anderen Nutzern man diese Termine freigeben möchte. Ich dachte hierbei vor allem an größere Zeiträume (bspw. mehrere Wochen im Ausland, ganzes Semester in der Studienstadt, mehrere Wochen in der Heimat, ...). Mein Ziel war es nicht euch eine Plattform zu schaffen alle möglichen Termine, wie den nächsten Arztbesuch, mit euren Freunden zu teilen.
            <br>
            Ich würde mich freuen, wenn ich nicht der Einzige bin, der eine solche Übersicht ganz nützlich findet und die Webseite ein wenig Anklang findet. Sie besitzt keine Nutzerbeschränkungen meinerseits (zumindest keine gewollten - verzeiht mir bei Problemen, ist auch meine erste Webapplikation), es steht euch also frei mit wem ihr diese Basis verwenden wollt.
            <br>
            <br>
            Na dann mal viel Spaß!
        </p>
    </div>
</div>
{% endblock %}