<!-- templates/friendscal/index.html -->

{% extends 'layout.html' %}

{% block head %}

{% load static %}

<!-- Color Picker -->
<!-- http://themesanytime.com/products/colorpicker/#docs-events -->
<link href="{% static "colorpicker/css/material-picker/light.css" %}" rel='stylesheet' />
<script src="{% static "colorpicker/js/material-picker.js" %}"></script>

<!-- fullcalendar.io -->
<link href="{% static "fullcalendar/core/main.min.css" %}" rel='stylesheet' />
<link href="{% static "fullcalendar/daygrid/main.min.css" %}" rel='stylesheet' />
<link href="{% static "fullcalendar/bootstrap/main.min.css" %}" rel='stylesheet' />
<link href="{% static "fullcalendar/list/main.min.css" %}" rel='stylesheet' />

<script src="{% static "fullcalendar/core/main.min.js" %}"></script>
<script src="{% static "fullcalendar/daygrid/main.min.js" %}"></script>
<script src="{% static "fullcalendar/interaction/main.min.js" %}"></script>
<script src="{% static "fullcalendar/bootstrap/main.min.js" %}"></script>
<script src="{% static "fullcalendar/list/main.min.js" %}"></script>

<script>
    var color{{ user.first_name }}{{ user.last_name }} = {};
    {% for sharedby in user.user_set.all %}
    var color{{ sharedby.first_name }}{{ sharedby.last_name }} = {};
    {% endfor %}

    document.addEventListener('DOMContentLoaded', function () {
        color{{ user.first_name }}{{ user.last_name }} = new ColorPicker.Material("#color_{{ user.first_name }}_{{ user.last_name }}", {
            format: 'hex',
            color: '#00c853',
            placement: 'top',
        });

        color{{ user.first_name }}{{ user.last_name }}.on('change', function(color) {
            source = calendar.getEventSourceById('events_{{ user.first_name }}_{{ user.last_name }}');
            if (source) {
                source.internalEventSource.ui.backgroundColor = color.hex;
                source.internalEventSource.ui.borderColor = color.hex;
                source.refetch();
            }
        });

        {% for sharedby in user.user_set.all %}
        color{{ sharedby.first_name }}{{ sharedby.last_name }} = new ColorPicker.Material("#color_{{ sharedby.first_name }}_{{ sharedby.last_name }}", {
            format: 'hex',
            color: '#' + Math.floor(Math.random() * 16777215).toString(16),
            placement: 'top'
        });

        color{{ sharedby.first_name }}{{ sharedby.last_name }}.on('change', function(color) {
            source = calendar.getEventSourceById('events_{{ sharedby.first_name }}_{{ sharedby.last_name }}');
            if (source) {
                source.internalEventSource.ui.backgroundColor = color.hex;
                source.internalEventSource.ui.borderColor = color.hex;
                source.refetch();
            }
        });
        {% endfor %}
    });

    var calendar = {};
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'interaction', 'bootstrap', 'list'],
            defaultView: 'dayGridMonth',
            locale: 'de',
            firstDay: 1,
            height: "auto",
            customButtons: {
                addButton: {
                    text: 'Termin hinzufügen',
                    click: function () {
                        window.location = "{% url 'friendscal:appointment-create' %}";
                    }
                }
            },
            header: {
                left: 'dayGridMonth,dayGridWeek,listMonth addButton',
                center: 'title',
                right: 'today prev,next',
            },
            buttonText: {
                today: 'heute',
                month: 'Monat',
                week: 'Woche',
                list: 'Liste'
            },
            weekNumbers: true,
            weekNumbersWithinDays: true,
            listDayFormat: {
                weekday: 'long'
            },
            listDayAltFormat: {
                day: 'numeric',
                month: 'long',
                year: 'numeric'
            },
            noEventsMessage: "Keine Termine zum Anzeigen",
            displayEventTime: false,
            selectable: true,

            eventSources: [],

            eventClick: function (info) {
                httpGetAsync("/appointment/" + info.event.id + "/json/", fillingDetailModal);
                var elem = document.getElementById('modal-detail');
                var instance = M.Modal.getInstance(elem);
                instance.open();
            },
            select: function (info) {
                window.location = "{% url 'friendscal:appointment-create' %}" + "?start=" + info.startStr + "&end=" + info.endStr;
            }
        });

        calendar.render();

        document.getElementById('{{ user.first_name }}_{{ user.last_name }}').click();
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });

    function changeEventSources(obj) {
        var element = obj;

        if (element.type === 'checkbox') {
            var source = calendar.getEventSourceById('events_' + element.id);
            if (element.checked) {
                if (!source) {
                    calendar.addEventSource({
                        id: 'events_' + element.id,
                        url: '/appointment/events/',
                        extraParams: {
                            user: element.id.replace(/events_/, '')
                        },
                        color: eval('color' + element.id.replace(/_/, '')).getColor(), // an option!
                        textColor: 'black' // an option!
                    })
                }
            } else {
                if (source) {
                    source.remove();
                }
            }
        }
    };

    function httpGetAsync(theUrl, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", theUrl, true); // true for asynchronous 
        xmlHttp.send(null);
    };

    function fillingDetailModal (response) {
        var data = JSON.parse(response);
        if (!data.description) {
            data.description = 'Keine Beschreibung angegeben';
        }
        if (!data.location) {
            data.location = 'Keinen Ort angegeben';
        }
        var can_edit = data['can_edit'];
        var edit_button = document.getElementById('event_change');
        if (!can_edit) {
            edit_button.style.display = 'none';
        }
        else {
            edit_button.href = '/appointment/' + data.uuid + '/update/';
        }
        delete data.uuid;
        delete data.can_edit;
        for (var name in data) {
            document.getElementById('event_' + name).innerText = data[name];
        }
    };
</script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12">
        <p>
            <div id='calendar'></div>
        </p>
    </div>

<!-- Modal Trigger -->
    <div class="col s12 center-align">
        <a class="btn modal-trigger" href="#modal-freigaben">Freigaben</a>
    </div>
</div>


<!-- Modal Structure  - Freigaben -->
<div id="modal-freigaben" class="modal bottom-sheet">
    <div class="form">
        <div class="modal-content">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4>Freigaben</h4>
                </li>
                <li class="collection-item">
                    <label for="{{ user.first_name }}_{{ user.last_name }}">
                        <input type="checkbox" id="{{ user.first_name }}_{{ user.last_name }}" onclick="changeEventSources(this);">
                        <span><img src="{{ user.avatar.url }}" width="30" class="circle"> {{ user }}</span>
                    </label>
                    <div id="color_{{ user.first_name }}_{{ user.last_name }}" class="secondary-content colorpicker-custom-anchor colorpicker-circle-anchor"><div class="colorpicker-circle-anchor__color" data-color></div></div>
                </li>
                {% for sharedby in user.user_set.all|dictsort:'last_name' %}
                    <li class="collection-item">
                        <label for="{{ sharedby.first_name }}_{{ sharedby.last_name }}">
                            <input type="checkbox" id="{{ sharedby.first_name }}_{{ sharedby.last_name }}" onclick="changeEventSources(this);">
                            <span><img src="{{ sharedby.avatar.url }}" width="30" class="circle">{{ sharedby.get_full_name }}</span>
                        </label>
                        <div id="color_{{ sharedby.first_name }}_{{ sharedby.last_name }}" class="secondary-content colorpicker-custom-anchor colorpicker-circle-anchor"><div class="colorpicker-circle-anchor__color" data-color></div></div>
                    </li>
                {% empty %}
                    <li class="collection-item">Ihnen hat leider kein weiterer Nutzer eine Freigabe erteilt.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>


<!-- Modal Structure - Detail Ansicht -->
<div id="modal-detail" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <h3 id="event_title"></h3>
            </div>
            <div class="col s12">
                <label>von:</label>
                <p id="event_user" class="flow-text"></p>
            </div>
            <div class="col s6">
                <label>Anfang:</label>
                <p id="event_start" class="flow-text"></p>
            </div>
            <div class="col s6">
                <label>Ende:</label>
                <p id="event_end" class="flow-text"></p>
            </div>
            <div class="col s12">
                <label>Beschreibung:</label>
                <p id="event_description" class="flow-text"></p>
            </div>
            <div class="col s12">
                <label>Ort:</label>
                <p id="event_location" class="flow-text"></p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="event_change" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Bearbeiten</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Schließen</a>
    </div>
</div>

{% endblock %}