<!-- templates/django_registration/registration_form.html -->

{% extends 'layout.html' %}

{% block head %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        active = document.getElementsByTagName('li');
        active[2].className = "active";

        errors = document.getElementsByClassName("errorlist");
        if (errors.length > 0) {
            Object.values(errors).every(function(error){error.classList.add("red-text");});
        };
    });
</script>
{% endblock %}

{% block title %}Registrieren{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h2>Registrieren</h2>
        <form action="{% url 'django_registration_register' %}" method="post" enctype="multipart/form-data">
            <div class="row">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% include "field_snippet.html" with field=form.email size="s12" %}
                {% include "field_snippet.html" with field=form.first_name size="m6 s12" %}
                {% include "field_snippet.html" with field=form.last_name size="m6 s12" %}
                <div class="file-field input-field col s12">
                    <p>
                        <label for="{{ form.avatar.id_for_label }}">{{ form.avatar.label }}:</label>
                        <div class="btn">
                            <span>Datei auswählen</span>
                            <input id="{{ form.avatar.id_for_label }}" type="file" accept="image/*" name="avatar">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        <span class="helper-text">{{ form.avatar.help_text }}</span>
                        {{ form.avatar.errors }}
                    </p>
                </div>
                {% include "field_snippet.html" with field=form.password1 size="s12" %}
                {% include "field_snippet.html" with field=form.password2 size="s12" %}
                <div class="col s12 center-align">
                    <button class="btn" type="submit">Registrieren</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}